@charset "utf-8";
body{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	background:#fff
}
h3{
	margin:0.5em 2em 0.3em 2em;
	font-size: 1.2em;
	font-weight:bold
}
p{
	margin:0.5em 3em;
	font-size:0.8em;
	line-height: 1.5em
}
a { text-decoration: none;color: #0c6cbd;}
a:hover { text-decoration: underline;}
a.image, a.image:hover, a img  {border:0;}
a:active, a:link, a:hover, a:visited {border: 0; outline: 0;}
#site {
	background: #ffffff url(../img/logo_bg.png) repeat-x 0 0; 
	height:50px; 
	margin-top:0px;
}
#logo {
	position: relative; 
	padding-top:5px;
}
